body{
    margin:0;
    font-family: system-ui;
}

.upper{
    background-color: #074f57;
    background-image: url("background3.jpg");
    background-size: cover;
    color: black;
    padding-top: 150px;
    padding-bottom: 200px;
}


p{
    text-align: center;
}

h1,h2,h3{
    text-align: center;
}

div{
    text-align: center;
}
